*
.body{
    background-color: hsl(37, 26%, 22%);
    border: 12px;
}

.img{
    border: 6;
    border-color: #123
    width: 12px;
}

.header{
    text-align: center;
    color: antiquewhite;
    
}